/* Paleta-neutra - https://coolors.co/fffc5c-1d0b15-f0ebbc-bd7268 */

/* CSS HEX */
--laser-lemon: #fffc5cff;
--xiketic: #1d0b15ff;
--pale-spring-bud: #f0ebbcff;
--copper-penny: #bd7268ff;

/* CSS HSL */
--laser-lemon: hsla(59, 100%, 68%, 1);
--xiketic: hsla(327, 45%, 8%, 1);
--pale-spring-bud: hsla(54, 63%, 84%, 1);
--copper-penny: hsla(7, 39%, 57%, 1);

/* SCSS HEX */
$laser-lemon: #fffc5cff;
$xiketic: #1d0b15ff;
$pale-spring-bud: #f0ebbcff;
$copper-penny: #bd7268ff;

/* SCSS HSL */
$laser-lemon: hsla(59, 100%, 68%, 1);
$xiketic: hsla(327, 45%, 8%, 1);
$pale-spring-bud: hsla(54, 63%, 84%, 1);
$copper-penny: hsla(7, 39%, 57%, 1);

/* SCSS RGB */
$laser-lemon: rgba(255, 252, 92, 1);
$xiketic: rgba(29, 11, 21, 1);
$pale-spring-bud: rgba(240, 235, 188, 1);
$copper-penny: rgba(189, 114, 104, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fffc5cff, #1d0b15ff, #f0ebbcff, #bd7268ff);
$gradient-right: linear-gradient(90deg, #fffc5cff, #1d0b15ff, #f0ebbcff, #bd7268ff);
$gradient-bottom: linear-gradient(180deg, #fffc5cff, #1d0b15ff, #f0ebbcff, #bd7268ff);
$gradient-left: linear-gradient(270deg, #fffc5cff, #1d0b15ff, #f0ebbcff, #bd7268ff);
$gradient-top-right: linear-gradient(45deg, #fffc5cff, #1d0b15ff, #f0ebbcff, #bd7268ff);
$gradient-bottom-right: linear-gradient(135deg, #fffc5cff, #1d0b15ff, #f0ebbcff, #bd7268ff);
$gradient-top-left: linear-gradient(225deg, #fffc5cff, #1d0b15ff, #f0ebbcff, #bd7268ff);
$gradient-bottom-left: linear-gradient(315deg, #fffc5cff, #1d0b15ff, #f0ebbcff, #bd7268ff);
$gradient-radial: radial-gradient(#fffc5cff, #1d0b15ff, #f0ebbcff, #bd7268ff);